# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Vite / TypeScript
.vite
*.tsbuildinfo

# Firebase
.firebase
firebase-debug.log
firebase-debug.*.log

# Logs & OS
logs
*.log
.DS_Store
Thumbs.db

# Editor
.idea
.vscode/*
!.vscode/extensions.json
